/* reset */ 
html,body{
    padding: 0;
    margin: 0;
}

/* mixin */

//宽高

@mixin wh($w,$h){
    width: $w;
    height: $h;
}

//颜色 字体大小

@mixin cf($c, $f) {
    color: $c;
    font-size: $f;
}

nav.nav{
    position: fixed;
    right: 230px;
    top: 80px;
    padding: 10px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .08);
    a{
        display: block;
        margin: 10px 0;
        color: #f6f;
        cursor: pointer;
        &:link {
            color: rgb(15, 221, 15);
        }
        &:visited {
            color: rgb(223, 19, 63);
        }
        &:hover {
            color: lawngreen;
        }
        &:active {
            color: rgb(39, 28, 197);
        }
        &.active{
            color: lavender;
        }
    }
}